.content > div {
  @apply space-y-6;
}

.control {
  width: 100%;
  text-decoration: none;
  display: flex;
  justify-content: center;

  &[aria-expanded='true'] {
    margin-top: 0.75rem;
  }

  & {
    @apply border-t border-foreground;
  }
}
