.custom-zoom [data-rmiz-btn-unzoom] {
  outline-offset: 0px;
  box-shadow: 0 0 0;
  background-color: rgba(0, 0, 0, 0);
  padding: 3px;
}

.custom-zoom [data-rmiz-modal-overlay='visible'] {
  background-color: rgba(0, 0, 0, 0.7);
}

[data-rmiz-content='found'] img,
[data-rmiz-content='found'] svg,
[data-rmiz-content='found'] [role='img'],
[data-rmiz-content='found'] [data-zoom] {
  cursor: pointer !important;
}
